<h1>Exhibitions</h1>
<%= page_entries_info @exhibitions %>
<%= paginate @exhibitions, window: 2 %>
<!-- paginate helper -->
	<% if @exhibitions.empty? %>
	No Exhibitions Found
	<% else %>

	<table>
		<tr>
			<th>Title</th>
			<th>Summary</th>
		</tr>
			<% @exhibitions.each do |exhibition| %>
		<tr>
			<th><%= exhibition.name.capitalize %></th>
			<td> <%= exhibition.description %> | <%= link_to "Show", exhibition_path(exhibition) %></td>
  		</tr>
  		<% end %>			
 	<% end %>
	</table>


	


