<h4>Add an Exhibition</h4>
<br>
<%= form_for @exhibition do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :description %>
  <%= f.text_area :description %><br>
  <%= f.submit %>
<% end %>