<h3>Exhibition: <%= @exhibition.name.capitalize %> </h3> 
<br>
<br>
Artist: <%= @exhibition.artist %>
<br>
<br>
Description: <%= @exhibition.description %>
<br>
<br>
Dates: <%= @exhibition.dates %>
<br>
<br>
<p>Address: <%= @exhibition.addresses.each do |addr| %>
<%= addr.street_address %>
<%= addr.city %>
<%= addr.state%>
<%= addr.zipcode%></p>
<% end %>
<br>
<br>
<p>Comments: <%= @exhibition.comments.each do |comment|%>
<%= comment.description %>
<% end %></p>
<br>
<br>


RSVP option YES NO MAYBE:
<%= form_for @rsvp do |f|%>
    <%= f.hidden_field :exhibition_id %>
    Are you Attending?
	<%= f.collection_select(:status, ["Yes", "No", "Maybe"], :to_s, :to_s) %>
	<%= f.submit "RSVP to this Exhbition", :class => "btn btn-primary" %>
<% end %> 


<%= link_to "Edit", edit_exhibition_path(@exhibition) %>
<%= link_to "Delete",  exhibition_path(@exhibition), :method => 'DELETE' %>
<br>
<br>