<h3>Exhibition: <%= @exhibition.name.capitalize %> </h3> 
<br>
<br>
Artist: <%= @exhibition.artist %>
<br>
<br>
Description: <%= @exhibition.description %>
<br>
<br>
<br>
Address: <%= @exhibition.address %>
<br>
<br>
Comments: <%= @exhibition.comments %>
<br>
<br>
RSVP option YES NO 
<br>
<br>
Rating: or Rate exhibitions?