<%= link_to "Add Exhibition", new_exhibition_path %>


<h4><%= @user.name if @user.name %></h4>
Exhibitions You Added:
<%= @user.exhibitions.each do |name| %>
<li><%= link_to exhibition.name, user_exhibition_path(@user, exhibition) %></li>
<% end %>

<br>

Exhibitions You RSVP: 
<%= @user.exhibitions.each do |name| %>
<li><%= link_to exhibition.name, user_exhibitions_path(@user, exhibition) %></li>
<% end %>

<%= link_to "Edit", '#' %>
<%= link_to "Delete",'#'%>


