<%= link_to "Add Exhibition", new_exhibition_path %>

<h4><%= @user.name if @user.name %></h4>


<h2>Exhibitions You RSVP: </h2>
	<table>
		<tr>
			<% if @user.rsvps.empty? %>
		No Rsvps Found.
		<% else %>
			<th>Title</th>
			
			<th></th>
			<th></th>
			<th></th>
		</tr>
		
		<% @user.rsvps.each do |rsvp| %>
		<tr>
		 	<td><%= "rsvp.exhibition.name" %> <%= link_to "Remove", rsvp, method: :delete, data: {confirm: "Are you sure?"} %></td> 
  		</tr>	
  		<% end %>		
 		<% end %>
	</table>

	<br>
	<h2>Exhibitions You Posted:</h2>
		<table>
			<tr>
			<% if @user.exhibitions.empty? %>
			No Exhibitions Found. 
			<% else %>
				<th>Title</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			
			<%= @user.exhibitions.each do |exhibition| %>
			<tr>
		 		<td><%= exhibition.name %> | <%= link_to "Show", user_exhibition_path(exhibition) %> | <%= link_to "Edit", edit_user_exhibition_path(exhibition) %> | <%= link_to "Remove", exhibition, method: :delete, data: {confirm: "Are you sure?"} %></td> 
		 		<% end %>			
 			<% end %>
  			</tr>
		</table>




