<%= link_to "Add Exhibition", new_exhibition_path %>


<h4><%= @user.name if @user.name %></h4>

Exhibitions You RSVP: 
<%= @user.rsvps.each do |rsvp| %>
<li><%= link_to rsvp.exhibition, rsvp.exhibition %></li>
<% end %><br>
---------------------------------------------------------
<br>
Exhibitions You Posted:

<%= @user.exhibitions.each do |exhibition| %>


<li><%= link_to exhibition.name, user_exhibition_path(@user, exhibition) %></li>
<% end %>


<br>

<%= link_to "Edit", '#' %>
<%= link_to "Delete",'#'%><br>
<br>
<%= link_to "Back", users_path %>

